<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.administrator.xyws_program">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".MyApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        <activity android:name=".view.activity.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".view.activity.persional.Activity_Persional_View_Login" />
        <activity android:name=".view.activity.persional.Activity_Persional_JiaHao" />
        <activity android:name=".view.fragment.blood.childactivity.DatarecordActivity" />
        <activity android:name=".view.fragment.blood.childactivity.AllrecoredataActivity" />
        <activity android:name=".view.fragment.blood.childactivity.RequstdoctorActivity" />
        <activity android:name=".view.fragment.blood.childactivity.InformationActivity" />
        <activity android:name=".view.fragment.blood.childactivity.AlarmclickActivity" />
        <activity android:name=".view.activity.doctor.Doctor_QuestionActivity" />
        <activity android:name=".view.activity.doctor.Doctor_ProvinceActivity" />
        <activity android:name=".view.fragment.blood.childactivity.information.Informationcommensence" />
        <activity android:name=".view.fragment.blood.childactivity.information.InspectActivity" />
        <activity android:name=".view.fragment.blood.childactivity.information.PreventionActivity" />
        <activity android:name=".view.fragment.blood.childactivity.information.TreatmentActivity" />
        <activity android:name=".view.fragment.blood.childactivity.information.RecipesActivity" />
        <activity android:name=".view.fragment.blood.childactivity.information.Blood_information_ItemActivity" />
        <activity android:name=".view.fragment.blood.childactivity.AlarmclickActivity" />
        <activity android:name=".view.fragment.blood.childactivity.informationInter.Informationcommensence" />
        <activity android:name=".view.fragment.blood.childactivity.informationInter.InspectActivity" />
        <activity android:name=".view.fragment.blood.childactivity.informationInter.PreventionActivity" />
        <activity android:name=".view.fragment.blood.childactivity.informationInter.TreatmentActivity" />
        <activity android:name=".view.fragment.blood.childactivity.informationInter.RecipesActivity" />
        <activity android:name=".view.fragment.blood.childactivity.informationInter.Blood_information_ItemActivity" />
        <activity android:name=".view.activity.persional.Activity_Persional_Info" />
        <activity android:name=".view.activity.persional.Activity_Persional_Collect" />
        <activity android:name=".view.activity.doctor.Doctor_QuestionActivity" />
        <activity android:name=".view.activity.doctor.Doctor_ProvinceActivity" />
        <activity android:name=".view.activity.persional.Activity_Persional_Info_Name" />
        <activity android:name=".view.activity.persional.Activity_Persional_Collect_Detail" />
        <activity android:name=".view.fragment.blood.childactivity.AlarmcliickItemActivity" />
        <activity android:name=".view.fragment.blood.childactivity.DeleteAlarmclickActivity" />
        <activity android:name=".view.fragment.blood.childactivity.UpdataItemActivity"></activity>
        <activity android:name=".view.activity.persional.Activity_Persional_Info_Name" />
        <activity android:name=".view.activity.persional.Activity_Persional_Collect_Detail" />
        <activity android:name=".view.activity.persional.Activity_Persional_Setting" />
        <activity android:name=".view.activity.persional.Activity_persional_Setting_ZhangHu" />
        <activity android:name=".view.activity.persional.Activity_Persional_Setting_Zhanghu_Phone" />
        <activity android:name=".view.activity.persional.Activity_Persional_Setting_ZhangHu_Phone_Yanheng" />
        <activity android:name=".view.activity.persional.Activity_Persional_Setting_ZhangHu_Phone_YanZheng_QueDing" />
        <activity android:name=".view.activity.persional.Activity_Persional_TouXiang"
            android:theme="@style/Theme.Design.Light.BottomSheetDialog"
            ></activity>
        <activity android:name=".view.activity.persional.Activity_Persional_Clear"/>
        <activity android:name=".view.activity.persional.Activity_Persional_Setting_About"/>
        <activity android:name=".view.activity.persional.Activity_Persional_Setting_About_FanKui"/>
    </application>

</manifest>